.link-tags{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo{
    margin: 1rem;
    width: 20%;
    float: left;
}

.nav-link{
    margin-top: 30px;
    text-align: right;
}

.link{
    text-align: right;
    text-decoration: none;
    color: black;
    margin-top: 2rem;
    margin-right: 2rem;
}


